<form action="/login" method="POST">
  <% if (username !== 'undefined') { %>
    <h2><%= username; %></h2>
    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>
  <% } else { %>
    <input id="username" type="text" name="username" placeholder="Username">
    <button>Submit</button>
  <% } %>
</form>