<!DOCTYPE html>
<head>
  <title>TinyApp</title>
  <% include ./partials/_header.ejs %>
</head>
<body>
  <% if (typeof(errorMessage) !== 'undefined') { %>
    <script>alert(errorMessage);</script>
  <% } %>
  <h3>
    <% for (key in urlDatabase) { %>
      <li><%= key %> : <%= urlDatabase[key].link; %></li>
      <form method="POST" action="/urls/<%= key %>/delete">
        <a href="http://localhost:8080/urls/<%= key %>">Edit</a>
        <button>Delete</button>
      </form>
    <% } %>
  </h3>
  <a href="deadLink">Shorten URL</a>
</body>