<!DOCTYPE html>
<head>
  <title>TinyApp</title>
  <% include ./partials/_header.ejs %>
</head>
<body>
  <h1>
    <form method="POST" action="/urls/<%=shortURL %>">
      <%= shortURL %> : <%= fullURL; %>
      <input id="newURL" type="text" name="newURL" placeholder="http://" style="width: 300px">
      <button>Update</button>
    </form>
  </h1>
  <a href="http://localhost:8080/urls/new">Shorten Your Own URL</a>
  <br>
  <a href="http://localhost:8080/urls">My URLS</a>
</body>