<!DOCTYPE html>
<head>
  <title>TinyApp</title>
  <% include ./partials/_header.ejs %>
</head>
<body>
  <h1>
    <form method="POST" action="/urls/<%=shortURL %>?_method=POST">
      <%= shortURL %> : <%= fullURL; %> <!-- show URL (long and short) -->
      <input id="newURL" type="text" name="newURL" placeholder="http://" style="width: 300px">
      <button>Update</button> <!-- POST updated link -->
    </form>
  </h1>
  <a href="http://localhost:8080/urls/new">Shorten Your Own URL</a> <!-- link to add new URL -->
  <br>
  <a href="http://localhost:8080/urls">My URLS</a> <!-- link back to URLs for convenience -->
</body>